div {
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

div img {
    width: 100%;
    height: 100%;
}

.box img {
    transform: translate(-100px, -100px);  /* x축, y축 이동좌표 */
                                        /* 함수처럼 생겼네? */
}

.box2 img {
    transform: translateX(200px);       /* x축 이동좌표 */
}


/* ------------------------------------------------------------------------- */


/* 같은 선택자일 때 밑에 있는 속성이 적용 */
.box2 img {
    transform: translateY(100px);       /* y축 이동좌표 */
}

.box3 img {
    transform: scale(1, 0.4);           /* scale: 크기 조절, 1이 기본 크기 */
                                        /* 1개 값을 입력할 경우 전체 크기 조절 */
                                        /* 2개 값을 입력할 경우 x, y 크기 조절 */
}

.box4 img {
    transform: rotate(270deg);          /* 회전값 ㅇㅇdeg */
}

/* ------------------------------------------------------------------------- */

/* css에서 애니메이션 작성할 때 사용 */
/* @keyframes + 애니메이션 이름 */
/* %는 진행도를 나타냄 */
@keyframes ani {
    0% {    /* 0~50% */
        transform: rotate(0deg);
    }
    50% {   /* 50일 때 */
        transform: rotate(360deg);
    }
    100% {  /* 50~100% */
        transform: rotate(0deg);
    }
}

.box5 img {
    animation: ani 1s ease;             /* 이름 시간 변화방법 */
                                        /* 변화방법: ease */
}


.box5 img {
    transition: transform 3s linear, border 1s ease-in-out, border-radius 1s ease-in-out;
    /* 스타일 값이 변하면서 효과를 줄 수 있음 */
    /* transition에 대해 변화하는 시간, 방법을 설정할 수 있음 */

    /* transform 속성이 3초 지속, border 값(테두리)이 1초 동안 변화, border-radius 값(둥글게)이 1초 동안 변화 */
}

.box5:hover img {
    transform: rotate(720deg);
    border: 10px solid orange;
    border-radius: 50%;
}

/* ------------------------------------------------------------------------- */

.box6 {
    position: relative;
}

.box6 img {
    position: absolute;

    width: 200px;
    height: 200px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);   /* 태그의 반지름 만큼 이동 */
}

/* ------------------------------------------------------------------------- */

