<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
    <link rel="stylesheet" href="../public/detail.css">
</head>
<body>
    <div class="top">
        <h2>No. <%= data.id %></h2>
    </div>
    <div class="middle">
        <!-- 게시글 보여주는 곳 -->
        <div class="detail_wrap">
            <div class="detail">
                <label for="">TITLE</label>
                <input type="text" value="<%= data.title %>" disabled>
                <label for="">DETAILS</label>
                <input type="text" value="<%= data.details %>" disabled>
                
                <!-- 좋아요 누르는 곳 -->
                <form method="post">
                    <input type="text" value="<%= data.thumbs %>" disabled>
                    <button>b^~^b</button>
                </form>
            </div>
        </div>

        <!-- 작성된 댓글 보는 곳 -->
        <div class="comment_wrap">
            <ul class="comment_list">
                <li class="list_top">
                    <div class="list_no">No</div>
                    <div class="list_content">Content</div>
                    <div class="list_name">Name</div>
                    <div class="list_del">Delete</div>
                </li>
                <% data2.forEach((el, index) => { %>
                    <li>
                        <div class="list_no"><%= el.id %></div>
                        <div class="list_content"><%= el.title %></div>
                        <div class="list_name"><%= el.name %></div>
                        <div class="list_del">( ´-｀)</div>
                    </li>
                <% }); %>
            </ul>

            <div class="comment_write">
                <!-- 댓글 작성하는 곳 -->
                <form action="" method="post">
                    <label for="">CONTENT</label>
                    <input type="text">
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>