<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert</title>
    <link rel="stylesheet" href="/css/insert.css">
</head>
<body>
    <div class="top">
        <h2>Write</h2>
    </div>
    <div class="middle">
        <form method="post">
            <label for="">TITLE</label>
            <input type="text" name="title">
            <label for="">DETAILS</label>
            <textarea rows="20" name="details"></textarea>

            <button>Submit</button>
        </form>
    </div>
</body>
</html>