<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="top">
        <!-- token 유효 시간 표시 -->
        <% if(data == null) { %>
            <div class="access-time">Left Time: </div>
        <% }else { %>
            <div class="access-time">Left Time: <%=  %></div>
        <% } %>
        
        <!-- 로그아웃 -->
        <% if(data == null) { %>
            <div></div>
        <% }else { %>    
            <a href="/logout"><div class="logout-btn">Logout</div></a>
        <% } %>

        <!-- 로그인 된 유저 이름 표시 -->
        <% if(data == null) { %>
            <h2>Hello :D</h2>
        <% }else { %>
            <h2>Hello <%= data.user_id %> :D</h2>
        <% } %>
    </div>
    <div class="middle">
        <div class="text">
            <p>Signup</p>
            <p>Login</p>
            <p>Board</p>
            <p>MyPage</p>
        </div>
        <div class="btn_wrap">
            <a href="/signup">
                <div class="btn"></div>
            </a>
            <a href="/login">
                <div class="btn"></div>
            </a>
            <a href="/list">
                <div class="btn"></div>
            </a>
            <a href="/mypage">
                <div class="btn"></div>
            </a>
        </div>
    </div>
</body>
<script>

</script>
</html>