<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <div class="top">
        <!-- 로그인 된 유저 이름 표시 -->
        <h2>Hello</h2>
    </div>
    <div class="middle">
        <div class="btn"><a href="/posts/signup">Signup</a></div>
        <div class="btn"><a href="/posts/login">Login</a></div>
        <div class="btn"><a href="/posts/list">Board</a></div>
    </div>
</body>
</html>