#button {
    border: 1px solid black;
    width: 100px; height: 50px;
    background-color: mediumseagreen;
    border-radius: 12px;
    box-shadow: 1px 1px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

ul {
    margin-top: 0px; margin-bottom: 0px;
    width: 750px;
    display: flex;
    list-style: none;
}

li {
    width: 150px;
    border: 1px solid black;
    text-align: center;
    
}

.inputBox {
    width: 500px;
    display: flex;
    margin-top: 20px; margin-bottom: 20px;
}

#tables {
    width: 750px;
    display: flex;
    flex-direction: column;
}