body {
    margin: 0; padding: 0;
    width: 100vw; height: 100vh;
    display: flex; justify-content: center; align-items: center;
    background-color: rgb(197, 228, 254);
}

.wrap {
    width: 450px; height: 550px;
    border-radius: 5%;
    box-shadow: 10px 10px;
    position: relative;
    display: flex; justify-content: center; align-items: center;
    background-color: aliceblue;
    padding: 40px;
    box-sizing: border-box;
}
.wrap h2 {
    font-size: 40px;
    position: absolute; top: 50px;
}
.wrap p {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}