<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
</head>
<body>
    <form action="/refresh" method="post">
        <p><%= accessToken %></p>
        <button>access token 재발급 (로그인 유지)</button>
    </form>
</body>
</html>