.App {
  width: 100vw; height: 100vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
}
.main {
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center;
}

.container {
  width: 800px; height: 800px;
  background-color: rgb(40, 40, 40);
  border: 3px solid rgb(0, 160, 160);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}

.subject {
  width: 100%; height: 80px;
  display: flex; justify-content: center; align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.btns {
  width: 100%; height: 110px;
  display: flex; justify-content: center; align-items: center;
  position: absolute; bottom: 0;
}
.btn {
  width: 100px; height: 30px;
  border: 3px solid rgb(0, 160, 160);
  border-radius: 10px;
  font-weight: 500;
  margin: 0 10px 0 10px;
  color: rgb(0, 160, 160);
  display: flex; justify-content: center; align-items: center;
  cursor: pointer;
}
.btn:hover {
  transform: scale(105%);
}

/* 왼쪽 input */
.container .input-container {
  width: 400px; height: 100%;
  border-right: 3px solid rgb(0, 160, 160);
  border-right-style: dashed;
  display: flex; flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}
.input-container .inputs {
  padding: 10px 0 0 0;
}
.input-container .inputs .label {
  width: 360px;
  color: white;
  font-weight: bold; font-size: 18px;;
  text-align: left;
  margin: 10px 0 10px 0;
}
.input-container .inputs .input, .content {
  width: 100%; height: 35px;
  border: rgba(0, 0, 0, 1);
  border-radius: 5px;
  background-color: rgb(25, 25, 25);
  margin: 0 0 10px 0;
  box-sizing: border-box;
  color: white;
  padding: 0 10px 0 10px;
  font-size: 14px;
}
.content {
  height: 280px;
  resize: none;
  padding: 10px;
}


/* 오른쪽 list */
.container .list-container {
  width: 400px; height: 100px;
  padding: 20px;
}
.list-container .lists {
  margin: 20px 0 0 0; height: 620px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(200, 200, 200);
  overflow: scroll;
}
.list-container .lists .list-item {
  border-radius: 10px;
  background-color: rgb(25, 25, 25);
  width: 100%; height: 80px;
  margin: 10px 0 10px 0;
  color: white;
  position: relative;
  overflow: hidden;
}
.list-item .index {
  position: absolute; left: 0;
  width: 30px; height: 100%;
  font-size: 20px; font-weight: bold;
  display: flex; justify-content: center; align-items: center;
  box-sizing: border-box;
}
.list-item .title {
  position: absolute; left: 30px;
  width: 130px; height: 40px;
  font-size: 14px;
  display: flex; justify-content: start; align-items: start;
  box-sizing: border-box;
  padding: 10px 15px 5px 15px;
  overflow: hidden;
}
.list-item .date {
  width: 160px; height: 40px;
  position: absolute; left: 160px;
  font-size: 11px;
  box-sizing: border-box;
  display: flex; justify-content: center; align-items: center;
}
.list-item .content {
  font-size: 12px;
  width: 210px; height: 40px;
  box-sizing: border-box;
  position: absolute; left: 30px; top: 35px;
  padding: 5px 15px 5px 15px;
  background-color: rgba(0, 0, 0, 0);
  display: flex; justify-content: start; align-items: start;
  overflow: hidden;
}
.btns2 {
  width: 80px; height: 40px;
  position: absolute; right: 0; bottom: 5px;
  display: flex; justify-content: center; align-items: center;
}
.delBtn .btn, .finBtn .btn {
  width: 20px; height: 20px;
  font-size: 14px;
  margin: 0 5px 0 5px;
}